/Textures/Updated/CityWall
/Textures/Updated/LanternModel
/Textures/Updated/PianoModel
SubstancePainter/CitWall.spp
Textures/Updated/SmallRoom/SmallRoom_standardSurface1_BaseMap.png
Textures/Updated/SmallRoom/SmallRoom_standardSurface1_MaskMap.png
Textures/Updated/SmallRoom/SmallRoom_standardSurface1_Normal.png
Projects/movies/SmallRoom.avi
MayaScenes/GrillModel/GRILL_standardSurface1_BaseColor.png
MayaScenes/GrillModel/GRILL_standardSurface1_Emissive.png
MayaScenes/GrillModel/GRILL_standardSurface1_Metallic.png
MayaScenes/GrillModel/GRILL_standardSurface1_Normal.png
MayaScenes/GrillModel/GRILL_standardSurface1_Roughness.png
Character/Modeling/Final Surfaced/KidKharon_Model_Body_mat_BaseColor.png
Character/Modeling/Final Surfaced/KidKharon_Model_Body_mat_Height.png
Character/Modeling/Final Surfaced/KidKharon_Model_Body_mat_Metallic.png
Character/Modeling/Final Surfaced/KidKharon_Model_Body_mat_Normal.png
Character/Modeling/Final Surfaced/KidKharon_Model_Body_mat_Roughness.png
Character/Modeling/Final Surfaced/KidKharon_Model_Eye_mat_BaseColor.png
Character/Modeling/Final Surfaced/KidKharon_Model_Eye_mat_Height.png
Character/Modeling/Final Surfaced/KidKharon_Model_Eye_mat_Metallic.png
Character/Modeling/Final Surfaced/KidKharon_Model_Eye_mat_Normal.png
Character/Modeling/Final Surfaced/KidKharon_Model_Eye_mat_Roughness.png
/MayaScenes/SaloonScene/Renders
/Textures/SaloonScene
/MayaScenes/SaloonScene/Video
/Character/FinalProject/renders
Character/FinalProject/Textures/LemonBoy_Material_BaseColor.png
/Character/FinalProject/Textures
/Character/FinalProject/Video
