/Textures/Updated/CityWall
/Textures/Updated/LanternModel
/Textures/Updated/PianoModel
SubstancePainter/CitWall.spp
Textures/Updated/SmallRoom/SmallRoom_standardSurface1_BaseMap.png
Textures/Updated/SmallRoom/SmallRoom_standardSurface1_MaskMap.png
Textures/Updated/SmallRoom/SmallRoom_standardSurface1_Normal.png
Projects/movies/SmallRoom.avi
MayaScenes/GrillModel/GRILL_standardSurface1_BaseColor.png
MayaScenes/GrillModel/GRILL_standardSurface1_Emissive.png
MayaScenes/GrillModel/GRILL_standardSurface1_Metallic.png
MayaScenes/GrillModel/GRILL_standardSurface1_Normal.png
MayaScenes/GrillModel/GRILL_standardSurface1_Roughness.png
